section{
    padding-left: 10rem;
    width : 90%;
    height: 800px;
    border-bottom: 40px;
    border-left: 30px;
}

.main-section{
    padding: 15px 40px 15px 80px;
    background-color :#b2d4f7;
    position: relative;
    right: 4rem;
    top: 12rem;
    left: 40px;
    border-radius: 8px;
    width: 75%;
    
}

.main-section h1{
    font-family: Verdana, Tahoma, sans-serif;
    letter-spacing: 4px;
    padding-left: 15rem;
}

.form-group {
    margin-bottom: 15px;
    width:80%;
}
.f-name-l-name {
    display: flex;
    justify-content: space-between;
    width: 80%;

}
#f-name, #l-name {
    flex: 1; 
    margin-right: 10px; 
}
#l-name {
    margin-right: 0; 
}
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box; 
}
textarea {
    resize: none; 
}
button {
    padding: 10px 15px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.content-email-holder h1{
    padding: 50px 0 0 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content-email-holder p{
    padding: 50px 0 0 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content-email-holder form{
    padding-left: 130px;
}