body{
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  4px 4px  rgba(0, 0, 0, 0.1);
    width: 70%;
    position: relative;
    left: 9rem;
    bottom: 20px;
    border:solid black 2px;
    height: 450px;
}

.content-container{
    margin-top: 0;
    padding-top: 0;
    position: relative;
    bottom: 125px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    position: relative;
    left: 145px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4498f1;
    color: rgb(6, 6, 6);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family : sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}

#username ,#password , button{
    width:70%;
    position: relative;
    left: 145px;
}
.footer-container .footer-copy-right p{
    font-family: sans-serif;
    position: relative;
    right: 150px;
}


